services:
  - name: docker:20.10.20-dind
    alias: docker

variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build
  - build-op-container
  - deploy-deadline
  - deploy
  - release

build-centos7:
  tags:
    - dind
  stage: build
  variables:
    BUILD_OS: centos7
  script:
    - apk add --no-cache bash
    - apk add --no-cache curl
    - apk add --no-cache python3
    - ./tools/docker_build.sh $BUILD_OS
    - version_command="import os;exec(open(os.path.join('./', 'openpype', 'version.py')).read());print('.'.join(__version__.split('.')[:2]));"
    - openpype_version="$(python3 -c "${version_command}")"
    - "tar -czvf ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz ./build"
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/openpype/${openpype_version}/openpype-${openpype_version}-${BUILD_OS}.tar.gz"'
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "release/alkemyx"
      when: manual
    - if: $CI_COMMIT_BRANCH == "release/alkemyx-develop"
      when: manual

build-debian:
  tags:
    - dind
  stage: build
  variables:
    BUILD_OS: debian
  script:
    - apk add --no-cache bash
    - apk add --no-cache curl
    - apk add --no-cache python3
    - ./tools/docker_build.sh $BUILD_OS
    - version_command="import os;exec(open(os.path.join('./', 'openpype', 'version.py')).read());print('.'.join(__version__.split('.')[:2]));"
    - openpype_version="$(python3 -c "${version_command}")"
    - "tar -czvf ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz ./build"
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/openpype/${openpype_version}/openpype-${openpype_version}-${BUILD_OS}.tar.gz"'
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "release/alkemyx"
      when: manual
    - if: $CI_COMMIT_BRANCH == "release/alkemyx-develop"
      when: manual

build-ubuntu20:
  tags:
    - dind
  stage: build
  variables:
    BUILD_OS: ubuntu20.04
  script:
    - apk add --no-cache bash
    - apk add --no-cache curl
    - apk add --no-cache python3
    # This build uses the unnamed Dockerfile, so we omit $BUILD_OS from the script call
    - ./tools/docker_build.sh
    - version_command="import os;exec(open(os.path.join('./', 'openpype', 'version.py')).read());print('.'.join(__version__.split('.')[:2]));"
    - openpype_version="$(python3 -c "${version_command}")"
    - "tar -czvf ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz ./build"
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/openpype/${openpype_version}/openpype-${openpype_version}-${BUILD_OS}.tar.gz"'
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "release/alkemyx"
      when: manual
    - if: $CI_COMMIT_BRANCH == "release/alkemyx-develop"
      when: manual

build-ubuntu22:
  tags:
    - dind
  stage: build
  variables:
    BUILD_OS: ubuntu22.04
  script:
    - apk add --no-cache bash
    - apk add --no-cache curl
    - apk add --no-cache python3
    - ./tools/docker_build.sh $BUILD_OS
    - version_command="import os;exec(open(os.path.join('./', 'openpype', 'version.py')).read());print('.'.join(__version__.split('.')[:2]));"
    - openpype_version="$(python3 -c "${version_command}")"
    - echo "openpype_version=$openpype_version" >> build.env
    - "tar -czvf ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz ./build"
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file ./build/openpype-${openpype_version}-${BUILD_OS}.tar.gz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/openpype/${openpype_version}/openpype-${openpype_version}-${BUILD_OS}.tar.gz"'
  artifacts:
    reports:
      dotenv: build.env
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "release/alkemyx"
      when: manual
    - if: $CI_COMMIT_BRANCH == "release/alkemyx-develop"
      when: manual

build-patch:
  tags:
    - dind
  stage: build
  image: python:3.9
  script:
    - mkdir -p $CI_PROJECT_DIR/artifact/build
    # Proc dies after creating the poetry env on first run. Just run it twice
    - ./tools/create_zip.sh --path $CI_PROJECT_DIR/artifact/build
    - ./tools/create_zip.sh --path $CI_PROJECT_DIR/artifact/build
  artifacts:
    paths:
      - artifact
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: manual
  allow_failure: false

build-op-container:
  stage: build-op-container
  needs:
    - build-ubuntu22
  tags:
    - kube
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  script:
    - CI_COMMIT_BRANCH_SAFE="${CI_COMMIT_BRANCH////-}" && echo "$CI_COMMIT_BRANCH_SAFE"
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/op-container"
      --dockerfile "${CI_PROJECT_DIR}/op-container/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/openpype:jammy-${VERSION}-${CI_COMMIT_SHORT_SHA}"
  rules:
    - if: $CI_COMMIT_TAG
      when: never

deploy-patch:
  image: alpine:latest
  tags:
    - mnt-pipe
  stage: deploy
  script:
    - cp -R ./artifact/build/* /pipe/openpype/versions/
    - chown -R 1000:776523089 /pipe/openpype/versions
  dependencies:
    - build-patch
  needs:
    - build-patch
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

release-patch:
  tags:
    - dind
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - apk add --no-cache python3
    - version_command="import os;exec(open(os.path.join('./', 'openpype', 'version.py')).read());print(__version__);"
    - openpype_version="$(python3 -c "${version_command}")"
    - >
      if release-cli get --tag-name "${openpype_version}"; then
        echo "Release "${openpype_version}" already exists, updating..."
        release-cli update --description "Release ${openpype_version} using CI pipeline $CI_PIPELINE_ID" --tag-name "${openpype_version}"
      else
        echo "Release "${openpype_version}" does not exist, creating..."
        release-cli create --description "Release ${openpype_version} using CI pipeline $CI_PIPELINE_ID" --tag-name "${openpype_version}"
      fi
  needs:
    - deploy-patch
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

deploy-to-deadline:
  image: alpine:latest
  tags:
    - mnt-pipe
  stage: build
  script:
    - rsync -avh --chmod=777 --chown=nobody:nogroup $CI_PROJECT_DIR/openpype/modules/deadline/repository/custom/plugins/* /deadline-10-2-1-1//custom/plugins/
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "release/alkemyx"
      changes:
        - openpype/modules/deadline/repository/custom/plugins/**/*
    - if: $CI_COMMIT_BRANCH == "release/alkemyx-develop"
      when: manual
